/* Fix header visibility */

.off-canvas .off-canvas-active{
  background: #FFFFFF;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 35px;
}

/* Menu overlay style */

.off-canvas-button-megamenu{
  margin: 15px 20px 10px;
}

.off-canvas-nav-megamenu .offcanvas-mainnav{
  position: fixed;
  bottom: 0;
  overflow-y: auto;
  padding-bottom: 62px;
}

.off-canvas-button-megamenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.off-canvas-button-megamenu .hidden-visually{
  font-size: 0;
  color: transparent;
}



.off-canvas-nav-megamenu .navbar-nav>li[data-menu-type="category"]{
  border-bottom-color: #fff;
}

.off-canvas-nav-megamenu .nav-item.dropdown .dropdown-toggle{
  line-height: 14px;
  padding: 20px 20px 16px;
}

.off-canvas-nav-megamenu .active.open-sub .dropdown-sub.dropdown-menu{
  display: block;
}

.off-canvas-nav-megamenu .nav-item.open-sub:after{
  background: #FFFFFF;
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  top: 100px;
  left: 0;
  right: 0;
}

.off-canvas-nav-megamenu .nav li.dropdown.open-sub .dropdown-menu-inner .caret{
    position: relative;
    display: inline-block;
    line-height: 28px;
    height: auto;
    width: auto;
}


.off-canvas-nav-megamenu .leo-widget .widget-html img,
.off-canvas-nav-megamenu .leo-widget .widget-html .mobile-hidden{
  display: none;
}

@media(min-width: 992px){
  .off-canvas-nav-megamenu .leo-widget .widget-html img{
    display: block;
  }

  .off-canvas-nav-megamenu .leo-widget .widget-html .mobile-hidden{
    display: inline;
  }
}
