@import "fonts.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Classes used in builder: tablet-medium:mr-20 tablet-wide:mr-8 desktop:mr-0 tablet-medium:top-auto tablet-medium:w-3/5 tablet-medium:absolute  tablet-medium:-bottom-12 */

h1,
h2,
h3,
p{
    @apply font-header;
}

@layer components{

    .center-inside{
        float: none !important;
        @apply mx-auto;
    }

    .owl-customized .owl-carousel .owl-wrapper-outer{
        overflow: visible;
    }

    .owl-customized .owl-item .block-carousel-image-container{
        @apply relative;
    }
    
    .owl-customized .owl-item .block-carousel-image-container img{
        filter: invert(17%) sepia(49%) saturate(5868%) hue-rotate(328deg) brightness(101%) contrast(93%);
        @apply p-1 tablet:p-2 select-none;
    }

    .owl-customized .owl-item{
        @apply filter grayscale transition duration-150;
    }
    .owl-customized .owl-item.active{
        @apply filter grayscale-0 ;
    }

    .owl-customized .owl-loaded .owl-item{
        @apply opacity-50; 
    }

    .owl-customized .owl-loaded .owl-item.active{
        @apply opacity-100;
    }

    .owl-customized .owl-disabled{
        @apply flex flex-wrap justify-between;
    }

    .owl-customized .owl-disabled .owl-item{
        min-width: 150px;
        flex-basis: 30%;
        @apply flex-grow mb-10 mx-2 tablet-wide:px-10 ;
    }

    .owl-customized .owl-disabled .owl-item img{
        filter: invert(17%) sepia(49%) saturate(5868%) hue-rotate(328deg) brightness(101%) contrast(93%) grayscale(100%);
        transition: 150ms;
    }

    .owl-customized .owl-disabled .owl-item:hover img{
        filter: invert(17%) sepia(49%) saturate(5868%) hue-rotate(328deg) brightness(101%) contrast(93%);
    }
}

